.btn-linkedin {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.containerHeaderApp{
  height: 30px;
}

.containerFooterApp{
  height: 30px;
}

.visibleGreen {
  color: green;
}

.visibleRed {
  color:red;
}